.card {
  border-radius: 12px;
  border: 1px solid #e4dcf2;
}

.card:hover {
  transition: 0.3s ease;
  background-color: #2d2837;
  box-shadow: rgba(0, 0, 0, 0.05);
  border: 1px solid #a57ced;

  .icon {
    color: #a57ced;
  }
}