.root {
  gap: 8px;
  height: 100%;
}

.list {
  &::before {
    inset-inline-start: 0;
    inset-inline-end: 0;
    border-width: 0 0 0 var(--tabs-list-border-width);
  }
}

.tab {
  padding: 28px 16px;
  border-radius: 0;
  white-space: normal;
  background-color: transparent;
  border-width: 0 0 0 var(--tabs-list-border-width);
  display: flex;
  justify-content: flex-start;

  &[data-active="true"] {
    border-color: #a084e8;
  }

  &:hover {
    background-color: #1a112b;
  }
}

.tab span {
  width: 100%;
}

.tabProgress {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 0%;
  background: #744db9;
  border-radius: 2px;
  transition: height 0.2s linear;
  z-index: 1;
}