.root {
  width: 1100px;
}

.label {
  font-weight: 600;
  font-size: 20px;
}

.control {
  padding-top: 13px;
  padding-bottom: 13px;
}

.chevron {
  width: 32px;
}

.content {
  font-weight: 500;
}
